<div class="unactiv-form position-relative p-3 rounded">
  <br />
  <h4 class="text-center">Plannings passés</h4>
  <br />
  <p>
    Le tableau affiche la liste des 20 derniers plannings de repas proposés au
    patient.
  </p>
  <br />

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>

  <div *ngIf="!loading">
    <div class="table-responsive">
      <table class="table table-striped table-bordered shadow-sm">
        <thead class="table-dark">
          <tr>
            <th></th>
            <th></th>
            <th>Semaine du</th>
            <th>au</th>
            <th>Spécification(s) supplémentaire(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planning of plannings">
            <td class="text-center">
              <i
                class="bi bi-eye text-success fs-5"
                style="cursor: pointer"
                (click)="openPlanningModal(planning.id_planning)"
              ></i>
            </td>
            <td class="text-center">
              <i
                class="bi bi-trash text-danger fs-5"
                style="cursor: pointer"
              ></i>
            </td>
            <td>{{ planning.start_day | date: "dd/MM/yyyy" }}</td>
            <td>
              {{
                planning.end_day ? (planning.end_day | date: "dd/MM/yyyy") : "-"
              }}
            </td>
            <td>{{ planning.notes || "-" }}</td>
          </tr>
          <tr *ngIf="plannings.length === 0">
            <td colspan="4" class="text-center">Aucun planning disponible</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--MODAL DETAILS-->
<div class="custom-modal" *ngIf="showModal && selectedPlanningDetails">
  <div class="modal-card">
    <div class="modal-header">
      <h4>
        Planning du
        {{ selectedPlanningDetails.start_day | date: "dd/MM/yyyy" }}
      </h4>
      <button class="close-btn" (click)="closeModal()">✕</button>
    </div>

    <div class="modal-body">
      <table class="planning-table">
        <thead>
          <tr>
            <th>Jour</th>
            <th *ngFor="let meal of meals">{{ meal }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            <td class="day-cell">{{ day }}</td>
            <td *ngFor="let meal of meals">
              <span class="meal-badge">{{
                selectedPlanningDetails.details[day][meal]?.title || "—"
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
